In [6]:
import pandas as pd
import os 
from glob import glob
import numpy as np

In [8]:
datasets = [y for x in os.walk(".") for y in glob(os.path.join(x[0], '*.zip'))] + [y for x in os.walk(".") for y in glob(os.path.join(x[0], '*.txt'))]
datasets

['.\\2d-10c_y.zip',
 '.\\2d-20c-no0_y.zip',
 '.\\2d-3c-no123_y.zip',
 '.\\2d-4c-no9_y.zip',
 '.\\2d-4c_y.zip',
 '.\\2d-d31_y.zip',
 '.\\aggregation_y.zip',
 '.\\cure-t0-2000n-2D_y.zip',
 '.\\cure-t1-2000n-2D_y.zip',
 '.\\cure-t2-4k_y.zip',
 '.\\longsquare_y.zip',
 '.\\s-set1_y.zip',
 '.\\s-set2_y.zip',
 '.\\tetra_y.zip',
 '.\\triangle1_y.zip',
 '.\\triangle2_y.zip',
 '.\\zelnik5_y.zip',
 '.\\zelnik6_y.zip']

# 2d-10c

In [28]:
index = 0
df = pd.read_csv(datasets[index])
print(datasets[index])
df

.\2d-10c_y.zip

              0        1  2
0      1.000070  40.9378  0
1      0.997360  41.1714  0
2      0.134799  41.8113  0
3      2.475850  41.6346  0
4     -3.058700  41.3887  0
...         ...      ... ..
2985  98.255900  68.0158  9
2986  96.500700  67.9212  9
2987  96.885200  68.1787  9
2988  96.834000  67.9841  9
2989  98.433500  68.2043  9

[2990 rows x 3 columns]

In [29]:
len(df[df.columns[-1]].unique())

9

In [4]:
df.to_csv(datasets[index].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])

# 2d-20c-no0

In [14]:
index = 1
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df

.\2d-20c-no0_y.zip

            0        1   2
0     0.00000  1.00000   2
1    -8.69493 -4.08204   0
2    -8.64040 -3.85833   0
3    -7.70667 -1.47470   0
4    -8.81293 -3.27131   0
...       ...      ...  ..
1513  4.78726 -4.22248  19
1514  4.32879 -4.88913  19
1515  4.11444 -5.10346  19
1516  4.97326 -4.14835  19
1517  4.10097 -4.97524  19

[1518 rows x 3 columns]

In [12]:
len(df[df.columns[-1]].unique())

20

In [5]:
df.to_csv(datasets[index].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])

# 2d-3c-no123

In [17]:
index = 2
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df

.\2d-3c-no123_y.zip

            0         1  2
0    0.000000  1.000000  2
1   -0.499261 -0.061236  0
2   -1.513690  0.265446  0
3   -1.603210  0.362039  0
4   -1.699280 -0.384246  0
..        ...       ... ..
711  1.763780  0.291525  2
712  0.534542 -0.221663  2
713  1.302740  0.366262  2
714  0.016068  0.213499  2
715  0.561435 -0.170464  2

[716 rows x 3 columns]

In [16]:
len(df[df.columns[-1]].unique())

3

In [7]:
df.to_csv(datasets[index].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])

# 2d-4c-no9

In [18]:
index = 3
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df

.\2d-4c-no9_y.zip

           0         1  2
0    0.00000  1.000000  2
1   -9.33717 -1.479760  0
2   -4.46281 -0.157614  0
3   -5.48281 -1.338230  0
4   -9.82805 -0.335942  0
..       ...       ... ..
872 -9.41189 -7.142230  3
873 -9.21620 -7.325990  3
874 -9.22509 -7.471830  3
875 -9.37243 -7.362970  3
876 -9.17332 -7.153290  3

[877 rows x 3 columns]

In [19]:
len(df[df.columns[-1]].unique())

4

In [9]:
df.to_csv(datasets[index].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])

# 2d-4c

In [20]:
index = 4
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df

.\2d-4c_y.zip

              0        1  2
0      0.000000   1.0000  2
1      2.745310  41.5491  0
2     -0.628169  41.1591  0
3      2.779950  40.7192  0
4      1.137160  41.8618  0
...         ...      ... ..
1257  72.551200  72.6080  3
1258  73.883400  71.0078  3
1259  72.411600  68.3206  3
1260  74.090300  69.7150  3
1261  73.616900  71.9917  3

[1262 rows x 3 columns]

In [21]:
len(df[df.columns[-1]].unique())

4

In [11]:
df.to_csv(datasets[index].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])

# 2d-d31

In [22]:
index = 5
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df

.\2d-d31_y.zip

            0        1   2
0      0.0000   1.0000   2
1     25.0514   5.7475   1
2     26.6614   7.3414   1
3     25.2653   6.2466   1
4     25.2285   4.7447   1
...       ...      ...  ..
3096   5.1380  16.6150  31
3097   5.7360  16.9991  31
3098   5.2760  17.2475  31
3099   6.4444  16.2033  31
3100   7.1620  18.1836  31

[3101 rows x 3 columns]

In [23]:
len(df[df.columns[-1]].unique())

31

In [13]:
df.to_csv(datasets[index].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])

# aggregation

In [24]:
index = 6
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df

.\aggregation_y.zip

         0      1  2
0     0.00   1.00  2
1    15.55  28.65  2
2    14.90  27.55  2
3    14.45  28.35  2
4    14.15  28.80  2
..     ...    ... ..
784   7.80   3.35  5
785   8.05   2.75  5
786   8.50   3.25  5
787   8.10   3.55  5
788   8.15   4.00  5

[789 rows x 3 columns]

In [25]:
len(df[df.columns[-1]].unique())

7

In [15]:
df.to_csv(datasets[index].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])

# cure-t0-2000n-2D

In [26]:
index = 7
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df

.\cure-t0-2000n-2D_y.zip

             0         1  2
0     0.000000  1.000000  2
1    -0.227326  0.771386  0
2     0.213638 -0.628019  0
3    -0.933018  0.424118  0
4    -0.814708  0.254235  0
...        ...       ... ..
1996  0.918821 -0.317409  2
1997  0.847027 -0.411880  2
1998  0.915024 -0.418904  2
1999  0.911225 -0.303072  2
2000  0.880042 -0.440722  2

[2001 rows x 3 columns]

In [27]:
len(df[df.columns[-1]].unique())

3

In [17]:
df.to_csv(datasets[index].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])

# cure-t1-2000n-2D

In [36]:
index = 8
df = pd.read_csv(datasets[index])
print(datasets[index])
df

.\cure-t1-2000n-2D_y.zip

             0         1  2
0    -0.845336 -0.533192  0
1    -0.731757  0.099658  0
2     0.018381 -0.751005  0
3    -0.867887 -0.365326  0
4     0.131603 -0.834194  0
...        ...       ... ..
1995  0.046414  0.800000  5
1996  0.089033  0.800000  5
1997 -0.015150  0.800000  5
1998 -0.031030  0.800000  5
1999  0.087002  0.800000  5

[2000 rows x 3 columns]

In [37]:
len(df[df.columns[-1]].unique())

6

In [19]:
df.to_csv(datasets[index].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])

# cure-t2-4k

In [34]:
index = 9
df = pd.read_csv(datasets[index])
print(datasets[index])
df

.\cure-t2-4k_y.zip

             0         1  2
0    -0.590353 -0.566736  0
1    -0.147896 -0.257437  0
2     0.055418 -0.760445  0
3    -0.619365 -0.817190  0
4    -0.553720 -0.329719  0
...        ...       ... ..
4195  0.651146 -0.192620 -1
4196  0.633790  0.111288 -1
4197  0.413400  0.017708 -1
4198  0.942855  0.561410 -1
4199 -0.174301  0.520809 -1

[4200 rows x 3 columns]

In [35]:
len(df[df.columns[-1]].unique())

7

In [21]:
df.to_csv(datasets[index].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])

# longsquare

In [39]:
index = 10
df = pd.read_csv(datasets[index],)
print(datasets[index])
df

.\longsquare_y.zip

            0         1  2
0    15.46400  19.44090  0
1    17.79830  14.83670  0
2    15.05220  17.26020  0
3    15.32650  18.12450  0
4    17.72110  15.00530  0
..        ...       ... ..
895  -7.78466  -4.72809  5
896   4.94591  -5.12020  5
897   2.67831  -5.04219  5
898  -1.83635  -4.29439  5
899 -10.26410  -5.15446  5

[900 rows x 3 columns]

In [40]:
len(df[df.columns[-1]].unique())

6

In [23]:
df.to_csv(datasets[index].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])

# s-set1

In [41]:
index = 11
df = pd.read_csv(datasets[index])
print(datasets[index])
df

.\s-set1_y.zip

             0         1   2
0     664159.0  550946.0  14
1     665845.0  557965.0  14
2     597173.0  575538.0  14
3     618600.0  551446.0  14
4     635690.0  608046.0  14
...        ...       ...  ..
4995  665426.0  853940.0   4
4996  691827.0  863963.0   4
4997  650661.0  861267.0   4
4998  599647.0  858702.0   4
4999  684091.0  842566.0   4

[5000 rows x 3 columns]

In [42]:
len(df[df.columns[-1]].unique())

15

In [25]:
df.to_csv(datasets[index].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])

# s-set2

In [43]:
index = 12
df = pd.read_csv(datasets[index])
print(datasets[index])
df

.\s-set2_y.zip

             0         1   2
0     845753.0  636607.0   4
1     812954.0  643720.0   4
2     868217.0  609046.0   4
3     920248.0  607272.0   4
4     841621.0  639394.0   4
...        ...       ...  ..
4995  613181.0  100354.0  10
4996  571664.0  102462.0  10
4997  711761.0   30810.0  10
4998  603939.0   77113.0  10
4999  662080.0   25631.0  10

[5000 rows x 3 columns]

In [44]:
len(df[df.columns[-1]].unique())

15

In [27]:
df.to_csv(datasets[index].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])

# tetra

In [48]:
index = 13
df = pd.read_csv(datasets[index],)
print(datasets[index])
df

.\tetra_y.zip

            0         1         2  3
0    1.295428  0.050829 -0.385217  1
1    1.409178 -0.035191 -0.251980  1
2    1.096803  0.246365 -0.415011  1
3    1.463328  0.265354 -0.513488  1
4    1.603284  0.080577 -0.470257  1
..        ...       ...       ... ..
395  0.795695  0.209456  1.880609  4
396  0.653127 -0.703156  1.549448  4
397 -0.726249 -0.103244  0.694300  4
398  0.808596 -0.492640  1.649370  4
399  0.749291 -0.447840  0.863555  4

[400 rows x 4 columns]

In [49]:
len(df[df.columns[-1]].unique())

4

In [29]:
df.to_csv(datasets[index].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])

# triangle1

In [50]:
index = 14
df = pd.read_csv(datasets[index])
print(datasets[index])
df

.\triangle1_y.zip

             0          1  2
0    10.642700  13.294000  0
1    12.198900  10.224500  0
2    10.368100  11.840200  0
3    10.551000  12.416300  0
4    12.147400  10.336900  0
..         ...        ... ..
995   1.475810   5.078750  3
996   1.710590  -0.683223  3
997   1.737740  -5.135940  3
998   0.683088   2.478890  3
999  -0.524523  -3.406590  3

[1000 rows x 3 columns]

In [51]:
len(df[df.columns[-1]].unique())

4

In [31]:
df.to_csv(datasets[index].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])

# triangle2

In [52]:
index = 15
df = pd.read_csv(datasets[index])
print(datasets[index])
df

.\triangle2_y.zip

             0          1  2
0    10.285300  15.587900  0
1    13.397700   9.448900  0
2     9.736240  12.680300  0
3    10.102000  13.832700  0
4    13.294800   9.673730  0
..         ...        ... ..
995   1.951620   5.078750  3
996   2.421170  -0.683223  3
997   2.475480  -5.135940  3
998   0.366175   2.478890  3
999  -2.049050  -3.406590  3

[1000 rows x 3 columns]

In [53]:
len(df[df.columns[-1]].unique())

4

In [33]:
df.to_csv(datasets[index].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])

# zelnik5

In [58]:
index = 16
df = pd.read_csv(datasets[index])
print(datasets[index])
df

.\zelnik5_y.zip

            0         1  2
0    0.092652  0.818994  3
1    0.098849  0.802363  3
2    0.105046  0.786364  3
3    0.111243  0.814959  3
4    0.117440  0.798893  3
..        ...       ... ..
507  0.557425  0.841840  3
508  0.755729  0.839686  3
509  0.193923  0.419006  0
510  0.588460  0.438360  0
511  0.800523  0.439229  0

[512 rows x 3 columns]

In [59]:
len(df[df.columns[-1]].unique())

4

In [35]:
df.to_csv(datasets[index].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])

# zelnik6

In [60]:
index = 17
df = pd.read_csv(datasets[index])
print(datasets[index])
df

.\zelnik6_y.zip

            0         1  2
0    0.451804  0.302462  1
1    0.459060  0.239156  1
2    0.428565  0.286293  1
3    0.484390  0.268000  1
4    0.488491  0.314003  1
..        ...       ... ..
233  0.743119  0.349812  2
234  0.755731  0.374536  2
235  0.751008  0.416761  2
236  0.750196  0.461943  2
237  0.761370  0.492678  2

[238 rows x 3 columns]

In [61]:
len(df[df.columns[-1]].unique())

3

In [38]:
df.to_csv(datasets[index].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])

FileNotFoundError: [WinError 2] Impossibile trovare il file specificato: '.\\zelnik6.csv'

# 2d-4c-no4

In [62]:
index = 18
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df

IndexError: list index out of range

In [40]:
df.to_csv(datasets[index].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])

# dim032

In [41]:
index = 19
df_pa = pd.read_csv(datasets[index], names=["pa"])
df = pd.read_csv(datasets[index+1], header=None, sep="\s+")
df["pa"] = df_pa["pa"]
print(f"{datasets[index]}\t{datasets[index+1]}")
df.head()

.\dim032.pa.txt	.\dim032.txt

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,pa
0,84,152,100,52,95,186,169,106,37,186,...,65,214,116,75,55,123,65,154,177,1
1,86,149,101,56,93,181,171,116,37,192,...,79,215,116,76,60,130,71,151,181,1
2,83,149,99,51,96,187,169,108,34,191,...,65,213,118,73,55,125,63,155,178,1
3,86,142,101,64,105,183,172,116,49,180,...,69,209,120,68,56,123,67,144,181,1
4,89,145,108,54,91,180,175,107,35,192,...,67,212,118,91,50,135,58,147,165,1

In [42]:
df.to_csv(datasets[index+1].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])
os.remove(datasets[index+1])

# dim064

In [43]:
index = 21
df_pa = pd.read_csv(datasets[index], names=["pa"])
df = pd.read_csv(datasets[index+1], header=None, sep="\s+")
df["pa"] = df_pa["pa"]
print(f"{datasets[index]}\t{datasets[index+1]}")
df.head()

.\dim064.pa.txt	.\dim064.txt

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,pa
0,165,96,188,122,151,55,74,81,101,117,...,74,97,157,132,76,55,160,171,66,1
1,167,100,192,124,157,51,73,82,92,106,...,81,104,167,131,74,50,165,170,73,1
2,166,107,188,123,157,49,70,79,87,107,...,81,106,166,127,74,54,163,172,68,1
3,167,103,188,124,158,55,74,83,90,106,...,79,106,166,130,75,54,163,170,70,1
4,169,103,186,122,156,52,72,80,88,115,...,82,104,162,127,73,54,165,169,74,1

In [44]:
df.to_csv(datasets[index+1].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])
os.remove(datasets[index+1])

# dim1024

In [45]:
index = 23
df_pa = pd.read_csv(datasets[index], names=["pa"])
df = pd.read_csv(datasets[index+1], header=None, sep="\s+")
df["pa"] = df_pa["pa"]
print(f"{datasets[index]}\t{datasets[index+1]}")
df.head()

.\dim1024.pa.txt	.\dim1024.txt

,0,1,2,3,4,5,6,7,8,9,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,pa
0,126,151,205,39,163,36,136,187,113,196,...,112,165,173,204,91,59,149,139,128,1
1,126,151,205,39,162,36,136,187,113,195,...,112,165,174,204,91,59,148,139,127,1
2,126,151,205,39,163,36,137,188,113,195,...,111,165,173,204,91,59,148,139,127,1
3,126,151,204,39,162,37,136,187,113,194,...,112,165,172,203,91,59,148,140,127,1
4,127,151,206,39,162,36,135,188,112,195,...,112,165,173,204,91,59,148,139,128,1

In [46]:
df.to_csv(datasets[index+1].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])
os.remove(datasets[index+1])

# dim128

In [47]:
index = 25
df_pa = pd.read_csv(datasets[index], names=["pa"])
df = pd.read_csv(datasets[index+1], header=None, sep="\s+")
df["pa"] = df_pa["pa"]
print(f"{datasets[index]}\t{datasets[index+1]}")
df.head()

.\dim128.pa.txt	.\dim128.txt

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,pa
0,145,142,131,135,208,209,65,128,183,131,...,218,182,53,144,198,93,34,99,79,1
1,149,148,137,137,213,209,71,125,183,125,...,222,182,52,148,198,97,35,99,78,1
2,151,144,135,132,210,208,67,124,183,128,...,218,182,52,144,196,93,38,101,78,1
3,148,141,136,135,207,209,65,127,184,130,...,219,184,50,144,198,92,36,101,82,1
4,146,145,136,135,208,212,70,130,185,129,...,217,182,52,148,198,95,36,96,80,1

In [48]:
df.to_csv(datasets[index+1].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])
os.remove(datasets[index+1])

# dim256

In [49]:
index = 27
df_pa = pd.read_csv(datasets[index], names=["pa"])
df = pd.read_csv(datasets[index+1], header=None, sep="\s+")
df["pa"] = df_pa["pa"]
print(f"{datasets[index]}\t{datasets[index+1]}")
df.head()

.\dim256.pa.txt	.\dim256.txt

,0,1,2,3,4,5,6,7,8,9,...,247,248,249,250,251,252,253,254,255,pa
0,75,176,163,171,84,198,101,80,204,66,...,77,112,156,69,38,137,211,143,67,1
1,74,176,163,171,84,197,101,80,204,66,...,77,112,155,69,38,136,210,143,66,1
2,75,176,162,170,84,197,102,80,204,66,...,77,112,156,68,39,137,212,143,67,1
3,76,176,162,170,84,198,100,79,204,67,...,77,112,156,67,37,138,211,143,66,1
4,76,177,164,171,83,197,100,81,205,65,...,79,113,155,68,37,138,211,144,68,1

In [50]:
df.to_csv(datasets[index+1].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])
os.remove(datasets[index+1])

# dim512

In [51]:
index = 29
df_pa = pd.read_csv(datasets[index], names=["pa"])
df = pd.read_csv(datasets[index+1], header=None, sep="\s+")
df["pa"] = df_pa["pa"]
print(f"{datasets[index]}\t{datasets[index+1]}")
df.head()

.\dim512.pa.txt	.\dim512.txt

,0,1,2,3,4,5,6,7,8,9,...,503,504,505,506,507,508,509,510,511,pa
0,199,212,189,196,146,220,66,139,153,147,...,180,215,143,143,59,125,91,74,132,1
1,198,213,190,195,146,220,66,139,153,148,...,181,215,143,143,60,126,91,75,132,1
2,199,214,191,195,146,219,65,138,152,148,...,181,215,142,143,61,126,92,75,132,1
3,198,213,189,194,146,220,65,139,153,147,...,180,215,143,143,60,126,91,75,133,1
4,198,212,190,195,146,220,66,139,153,148,...,181,215,143,143,59,126,91,75,132,1

In [52]:
df.to_csv(datasets[index+1].replace(".csv", "_y.zip"), index=False)
os.remove(datasets[index])
os.remove(datasets[index+1])