In [1]:
import pandas as pd
import os 
from glob import glob
import numpy as np

In [3]:
datasets = [y for x in os.walk(".") for y in glob(os.path.join(x[0], '*.csv'))] + [y for x in os.walk(".") for y in glob(os.path.join(x[0], '*.txt'))]
datasets

['.\\2d-10c.csv',
 '.\\2d-20c-no0.csv',
 '.\\2d-3c-no123.csv',
 '.\\2d-4c-no9.csv',
 '.\\2d-4c.csv',
 '.\\2d-d31.csv',
 '.\\aggregation.csv',
 '.\\cure-t0-2000n-2D.csv',
 '.\\cure-t1-2000n-2D.csv',
 '.\\cure-t2-4k.csv',
 '.\\longsquare.csv',
 '.\\s-set1.csv',
 '.\\s-set2.csv',
 '.\\tetra.csv',
 '.\\triangle1.csv',
 '.\\triangle2.csv',
 '.\\zelnik5.csv',
 '.\\zelnik6.csv',
 '.\\2d-4c-no4.txt',
 '.\\dim032.pa.txt',
 '.\\dim032.txt',
 '.\\dim064.pa.txt',
 '.\\dim064.txt',
 '.\\dim1024.pa.txt',
 '.\\dim1024.txt',
 '.\\dim128.pa.txt',
 '.\\dim128.txt',
 '.\\dim256.pa.txt',
 '.\\dim256.txt',
 '.\\dim512.pa.txt',
 '.\\dim512.txt']

# 2d-10c

In [6]:
index = 0
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df.head()

.\2d-10c.csv

          0        1  2
0  1.000070  40.9378  0
1  0.997360  41.1714  0
2  0.134799  41.8113  0
3  2.475850  41.6346  0
4 -3.058700  41.3887  0

In [7]:
df.to_csv(datasets[index].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])

# 2d-20c-no0

In [8]:
index = 1
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df.head()

.\2d-20c-no0.csv

         0        1  2
0 -8.69493 -4.08204  0
1 -8.64040 -3.85833  0
2 -7.70667 -1.47470  0
3 -8.81293 -3.27131  0
4 -8.05403 -3.51724  0

In [9]:
df.to_csv(datasets[index].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])

# 2d-3c-no123

In [11]:
index = 2
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df.head()

.\2d-3c-no123.csv

          0         1  2
0 -0.499261 -0.061236  0
1 -1.513690  0.265446  0
2 -1.603210  0.362039  0
3 -1.699280 -0.384246  0
4 -2.299290 -0.358038  0

In [12]:
df.to_csv(datasets[index].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])

# 2d-4c-no9

In [13]:
index = 3
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df.head()

.\2d-4c-no9.csv

         0         1  2
0 -9.33717 -1.479760  0
1 -4.46281 -0.157614  0
2 -5.48281 -1.338230  0
3 -9.82805 -0.335942  0
4 -3.98464  0.756735  0

In [14]:
df.to_csv(datasets[index].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])

# 2d-4c

In [15]:
index = 4
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df.head()

.\2d-4c.csv

          0        1  2
0  2.745310  41.5491  0
1 -0.628169  41.1591  0
2  2.779950  40.7192  0
3  1.137160  41.8618  0
4  2.093200  41.3531  0

In [16]:
df.to_csv(datasets[index].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])

# 2d-d31

In [17]:
index = 5
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df.head()

.\2d-d31.csv

         0       1  2
0  25.0514  5.7475  1
1  26.6614  7.3414  1
2  25.2653  6.2466  1
3  25.2285  4.7447  1
4  25.7529  5.1564  1

In [18]:
df.to_csv(datasets[index].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])

# aggregation

In [19]:
index = 6
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df.head()

.\aggregation.csv

       0      1  2
0  15.55  28.65  2
1  14.90  27.55  2
2  14.45  28.35  2
3  14.15  28.80  2
4  13.75  28.05  2

In [20]:
df.to_csv(datasets[index].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])

# cure-t0-2000n-2D

In [21]:
index = 7
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df.head()

.\cure-t0-2000n-2D.csv

          0         1  2
0 -0.227326  0.771386  0
1  0.213638 -0.628019  0
2 -0.933018  0.424118  0
3 -0.814708  0.254235  0
4  0.022646  0.136679  0

In [22]:
df.to_csv(datasets[index].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])

# cure-t1-2000n-2D

In [24]:
index = 8
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df.head()

.\cure-t1-2000n-2D.csv

          0         1  2
0 -0.845336 -0.533192  0
1 -0.731757  0.099658  0
2  0.018381 -0.751005  0
3 -0.867887 -0.365326  0
4  0.131603 -0.834194  0

In [26]:
df.to_csv(datasets[index].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])

# cure-t2-4k

In [27]:
index = 9
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df.head()

.\cure-t2-4k.csv

          0         1  2
0 -0.590353 -0.566736  0
1 -0.147896 -0.257437  0
2  0.055418 -0.760445  0
3 -0.619365 -0.817190  0
4 -0.553720 -0.329719  0

In [28]:
df.to_csv(datasets[index].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])

# longsquare

In [29]:
index = 10
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df.head()

.\longsquare.csv

         0        1  2
0  15.4640  19.4409  0
1  17.7983  14.8367  0
2  15.0522  17.2602  0
3  15.3265  18.1245  0
4  17.7211  15.0053  0

In [31]:
df.to_csv(datasets[index].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])

# s-set1

In [33]:
index = 11
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df.head()

.\s-set1.csv

          0         1   2
0  664159.0  550946.0  14
1  665845.0  557965.0  14
2  597173.0  575538.0  14
3  618600.0  551446.0  14
4  635690.0  608046.0  14

In [34]:
df.to_csv(datasets[index].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])

# s-set2

In [36]:
index = 12
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df.head()

.\s-set2.csv

          0         1  2
0  845753.0  636607.0  4
1  812954.0  643720.0  4
2  868217.0  609046.0  4
3  920248.0  607272.0  4
4  841621.0  639394.0  4

In [37]:
df.to_csv(datasets[index].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])

# tetra

In [38]:
index = 13
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df.head()

.\tetra.csv

          0         1         2  3
0  1.295428  0.050829 -0.385217  1
1  1.409178 -0.035191 -0.251980  1
2  1.096803  0.246365 -0.415011  1
3  1.463328  0.265354 -0.513488  1
4  1.603284  0.080577 -0.470257  1

In [39]:
df.to_csv(datasets[index].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])

# triangle1

In [40]:
index = 14
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df.head()

.\triangle1.csv

         0        1  2
0  10.6427  13.2940  0
1  12.1989  10.2245  0
2  10.3681  11.8402  0
3  10.5510  12.4163  0
4  12.1474  10.3369  0

In [41]:
df.to_csv(datasets[index].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])

# triangle2

In [42]:
index = 15
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df.head()

.\triangle2.csv

          0         1  2
0  10.28530  15.58790  0
1  13.39770   9.44890  0
2   9.73624  12.68030  0
3  10.10200  13.83270  0
4  13.29480   9.67373  0

In [43]:
df.to_csv(datasets[index].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])

# zelnik5

In [44]:
index = 16
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df.head()

.\zelnik5.csv

          0         1  2
0  0.092652  0.818994  3
1  0.098849  0.802363  3
2  0.105046  0.786364  3
3  0.111243  0.814959  3
4  0.117440  0.798893  3

In [46]:
df.to_csv(datasets[index].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])

# zelnik6

In [47]:
index = 17
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df.head()

.\zelnik6.csv

          0         1  2
0  0.451804  0.302462  1
1  0.459060  0.239156  1
2  0.428565  0.286293  1
3  0.484390  0.268000  1
4  0.488491  0.314003  1

In [48]:
df.to_csv(datasets[index].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])

# 2d-4c-no4

In [49]:
index = 18
df = pd.read_csv(datasets[index], header=None)
print(datasets[index])
df.head()

.\2d-4c-no4.txt

          0         1  2
0   8.04731 -4.886620  0
1  11.23750  3.017460  0
2   5.11050  0.269883  0
3   6.34456 -3.718320  0
4   9.09493  2.028360  0

In [50]:
df.to_csv(datasets[index].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])

# dim032

In [60]:
index = 19
df_pa = pd.read_csv(datasets[index], names=["pa"])
df = pd.read_csv(datasets[index+1], header=None, sep="\s+")
df["pa"] = df_pa["pa"]
print(f"{datasets[index]}\t{datasets[index+1]}")
df.head()

.\dim032.pa.txt	.\dim032.txt

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,pa
0,84,152,100,52,95,186,169,106,37,186,...,65,214,116,75,55,123,65,154,177,1
1,86,149,101,56,93,181,171,116,37,192,...,79,215,116,76,60,130,71,151,181,1
2,83,149,99,51,96,187,169,108,34,191,...,65,213,118,73,55,125,63,155,178,1
3,86,142,101,64,105,183,172,116,49,180,...,69,209,120,68,56,123,67,144,181,1
4,89,145,108,54,91,180,175,107,35,192,...,67,212,118,91,50,135,58,147,165,1

In [61]:
df.to_csv(datasets[index+1].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])
os.remove(datasets[index+1])

# dim064

In [62]:
index = 21
df_pa = pd.read_csv(datasets[index], names=["pa"])
df = pd.read_csv(datasets[index+1], header=None, sep="\s+")
df["pa"] = df_pa["pa"]
print(f"{datasets[index]}\t{datasets[index+1]}")
df.head()

.\dim064.pa.txt	.\dim064.txt

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,pa
0,165,96,188,122,151,55,74,81,101,117,...,74,97,157,132,76,55,160,171,66,1
1,167,100,192,124,157,51,73,82,92,106,...,81,104,167,131,74,50,165,170,73,1
2,166,107,188,123,157,49,70,79,87,107,...,81,106,166,127,74,54,163,172,68,1
3,167,103,188,124,158,55,74,83,90,106,...,79,106,166,130,75,54,163,170,70,1
4,169,103,186,122,156,52,72,80,88,115,...,82,104,162,127,73,54,165,169,74,1

In [63]:
df.to_csv(datasets[index+1].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])
os.remove(datasets[index+1])

# dim1024

In [64]:
index = 23
df_pa = pd.read_csv(datasets[index], names=["pa"])
df = pd.read_csv(datasets[index+1], header=None, sep="\s+")
df["pa"] = df_pa["pa"]
print(f"{datasets[index]}\t{datasets[index+1]}")
df.head()

.\dim1024.pa.txt	.\dim1024.txt

,0,1,2,3,4,5,6,7,8,9,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,pa
0,126,151,205,39,163,36,136,187,113,196,...,112,165,173,204,91,59,149,139,128,1
1,126,151,205,39,162,36,136,187,113,195,...,112,165,174,204,91,59,148,139,127,1
2,126,151,205,39,163,36,137,188,113,195,...,111,165,173,204,91,59,148,139,127,1
3,126,151,204,39,162,37,136,187,113,194,...,112,165,172,203,91,59,148,140,127,1
4,127,151,206,39,162,36,135,188,112,195,...,112,165,173,204,91,59,148,139,128,1

In [66]:
df.to_csv(datasets[index+1].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])
os.remove(datasets[index+1])

# dim128

In [67]:
index = 25
df_pa = pd.read_csv(datasets[index], names=["pa"])
df = pd.read_csv(datasets[index+1], header=None, sep="\s+")
df["pa"] = df_pa["pa"]
print(f"{datasets[index]}\t{datasets[index+1]}")
df.head()

.\dim128.pa.txt	.\dim128.txt

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,pa
0,145,142,131,135,208,209,65,128,183,131,...,218,182,53,144,198,93,34,99,79,1
1,149,148,137,137,213,209,71,125,183,125,...,222,182,52,148,198,97,35,99,78,1
2,151,144,135,132,210,208,67,124,183,128,...,218,182,52,144,196,93,38,101,78,1
3,148,141,136,135,207,209,65,127,184,130,...,219,184,50,144,198,92,36,101,82,1
4,146,145,136,135,208,212,70,130,185,129,...,217,182,52,148,198,95,36,96,80,1

In [68]:
df.to_csv(datasets[index+1].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])
os.remove(datasets[index+1])

# dim256

In [69]:
index = 27
df_pa = pd.read_csv(datasets[index], names=["pa"])
df = pd.read_csv(datasets[index+1], header=None, sep="\s+")
df["pa"] = df_pa["pa"]
print(f"{datasets[index]}\t{datasets[index+1]}")
df.head()

.\dim256.pa.txt	.\dim256.txt

,0,1,2,3,4,5,6,7,8,9,...,247,248,249,250,251,252,253,254,255,pa
0,75,176,163,171,84,198,101,80,204,66,...,77,112,156,69,38,137,211,143,67,1
1,74,176,163,171,84,197,101,80,204,66,...,77,112,155,69,38,136,210,143,66,1
2,75,176,162,170,84,197,102,80,204,66,...,77,112,156,68,39,137,212,143,67,1
3,76,176,162,170,84,198,100,79,204,67,...,77,112,156,67,37,138,211,143,66,1
4,76,177,164,171,83,197,100,81,205,65,...,79,113,155,68,37,138,211,144,68,1

In [70]:
df.to_csv(datasets[index+1].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])
os.remove(datasets[index+1])

# dim512

In [71]:
index = 29
df_pa = pd.read_csv(datasets[index], names=["pa"])
df = pd.read_csv(datasets[index+1], header=None, sep="\s+")
df["pa"] = df_pa["pa"]
print(f"{datasets[index]}\t{datasets[index+1]}")
df.head()

.\dim512.pa.txt	.\dim512.txt

,0,1,2,3,4,5,6,7,8,9,...,503,504,505,506,507,508,509,510,511,pa
0,199,212,189,196,146,220,66,139,153,147,...,180,215,143,143,59,125,91,74,132,1
1,198,213,190,195,146,220,66,139,153,148,...,181,215,143,143,60,126,91,75,132,1
2,199,214,191,195,146,219,65,138,152,148,...,181,215,142,143,61,126,92,75,132,1
3,198,213,189,194,146,220,65,139,153,147,...,180,215,143,143,60,126,91,75,133,1
4,198,212,190,195,146,220,66,139,153,148,...,181,215,143,143,59,126,91,75,132,1

In [72]:
df.to_csv(datasets[index+1].replace(".csv", ".zip"), index=False)
os.remove(datasets[index])
os.remove(datasets[index+1])