In [1]:
import os
from glob import glob
import psutil
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tqdm.auto import tqdm

In [2]:
risultati = [y for x in os.walk("final_joined_result/") for y in glob(os.path.join(x[0], '*.csv'))]
risultati[:5]

['final_joined_result/german_creditONEHOT_y.zip-10_True_k kmeans+dt.csv',
 'final_joined_result/2d-20c-no0_y.zip CenterParTree2.csv',
 'final_joined_result/diabetes_y.zip CLTree.csv',
 'final_joined_result/compas-scores-two-yearsONEHOT_y.zip-10_k skl_kmeans.csv',
 'final_joined_result/triangle2_y.zip-4_True_k kmeans+dt.csv']

In [3]:
risultati_groupby_alg = dict()
risultati_groupby_dataset = dict()

for filename in risultati:
    alg = filename.split(" ")[-1][:-4]
    dataset = filename.split(" ")[0].split("\\")[-1][:-4]
    
    if alg not in risultati_groupby_alg:
        risultati_groupby_alg[alg] = []
    if dataset not in risultati_groupby_dataset:
        risultati_groupby_dataset[dataset] = []
    
    risultati_groupby_alg[alg].append(filename)
    risultati_groupby_dataset[dataset].append(filename)

In [4]:
res_values_uns = ["time", "silhouette", "calinski_harabasz", "davies_bouldin"]
res_values_sup = ["r_score", "adj_rand", "mut_info_score", "adj_mutual_info_score", "norm_mutual_info_score",
                                 "homog_score", "complete_score", "v_msr_score", "fwlks_mallows_score"]
res_values_all = res_values_uns + res_values_sup

In [5]:
df = pd.DataFrame()
lista = []

datasets = set()
algorithms = set()

for filename in risultati:
    alg = filename.split(" ")[-1][:-4]
    dataset = filename.split(" ")[0].split("/")[-1][:-4].replace(".zip", "").replace("-", "")
        
    
    datasets.add(dataset)
    algorithms.add(alg)
    
    lista.append(pd.read_csv(filename))
    
    lista[-1]["alg"] = alg
    if "wine" in dataset:
        lista[-1]["dataset"] = "wine"
    elif "home" in dataset:
        lista[-1]["dataset"] = "home"
    elif "ficoONEHOT" in dataset:
        lista[-1]["dataset"] = "ficoONEHOT"
    elif "fico" in dataset:
        lista[-1]["dataset"] = "fico"
    elif "bank" in dataset:
        lista[-1]["dataset"] = "bank"
    else:
        lista[-1]["dataset"] = dataset.split("_y")[0]+"_y"
    
df = pd.concat(lista)

df.columns

Index(['n_clusters', 'labels_as_tree_leaves', 'init', 'n_init', 'max_iter',
       'tol', 'verbose', 'random_state', 'copy', 'algorithm', 'criterion',
       'splitter', 'min_samples_split', 'min_samples_leaf',
       'min_weight_fraction_leaf', 'max_features', 'max_leaf_nodes',
       'min_impurity_decrease', 'class_weight', 'ccp_alpha', 'max_nbr_values',
       'max_nbr_values_cat', 'time', 'silhouette', 'calinski_harabasz',
       'davies_bouldin', 'r_score', 'adj_rand', 'mut_info_score',
       'adj_mutual_info_score', 'norm_mutual_info_score', 'homog_score',
       'complete_score', 'v_msr_score', 'fwlks_mallows_score', 'alg',
       'dataset', 'max_depth', 'max_nbr_clusters', 'bic_eps', 'metric_con',
       'metric_cat', 'min_nr_instances', 'min_y', 'min_rd', 'n_components',
       'oblique_splits', 'max_oblique_features', 'bisecting_strategy',
       'criteria_clf', 'criteria_reg', 'min_samples', 'max_eps', 'metric',
       'n_jobs', 'eps', 'threshold', 'branching_factor',
       'amount_initial_centers', 'kmax', 'linkage'],
      dtype='object')

In [6]:
df.dataset.unique()

array(['german_creditONEHOT_y', '2d20cno0_y', 'diabetes_y',
       'compasscorestwoyearsONEHOT_y', 'triangle2_y', 'sset2_y',
       'curet12000n2D_y', 'compasscorestwoyears_y', 'zelnik5_y',
       'ficoONEHOT', 'home', 'zelnik6_y', 'aggregation_y',
       'adultONEHOT_y', '2d4cno9_y', '2dd31_y', 'adult_y', '2d10c_y',
       'vehicle_y', 'longsquare_y', '2d3cno123_y', 'triangle1_y', 'wine',
       'tetra_y', 'ionosphere_y', 'wdbc_y', 'churnONEHOT_y', 'curet24k_y',
       'sset1_y', '2d4c_y', 'fico', 'churn_y', 'titanic_y',
       'curet02000n2D_y', 'iris_y', 'german_credit_y', 'bank'],
      dtype=object)

In [7]:
DS1 = ['datasets/syntetic/2d-3c-no123_y.zip', 'datasets/syntetic/s-set1_y.zip', 'datasets/syntetic/2d-20c-no0_y.zip', 'datasets/syntetic/triangle2_y.zip',
                  'datasets/syntetic/triangle1_y.zip', 'datasets/syntetic/cure-t0-2000n-2D_y.zip', 'datasets/syntetic/longsquare_y.zip', 'datasets/syntetic/aggregation_y.zip',
                  'datasets/syntetic/2d-4c-no9_y.zip', 'datasets/syntetic/2d-d31_y.zip', 'datasets/syntetic/cure-t2-4k_y.zip', 'datasets/syntetic/zelnik6_y.zip',
                  'datasets/syntetic/2d-10c_y.zip', 'datasets/syntetic/2d-4c_y.zip', 'datasets/syntetic/zelnik5_y.zip', 'datasets/syntetic/cure-t1-2000n-2D_y.zip',
                  'datasets/syntetic/s-set2_y.zip', 'datasets/syntetic/tetra_y.zip']

DS1 = list(map(lambda x: x.split("/")[-1][:-4].replace("-", ""), DS1))

DS1

['2d3cno123_y',
 'sset1_y',
 '2d20cno0_y',
 'triangle2_y',
 'triangle1_y',
 'curet02000n2D_y',
 'longsquare_y',
 'aggregation_y',
 '2d4cno9_y',
 '2dd31_y',
 'curet24k_y',
 'zelnik6_y',
 '2d10c_y',
 '2d4c_y',
 'zelnik5_y',
 'curet12000n2D_y',
 'sset2_y',
 'tetra_y']

In [8]:
DS2 = [x for x in df.dataset.unique() if "ONEHOT" in x] + ["compasscorestwoyears_y"] + ["iris_y", "wdbc_y"]

DS2

['german_creditONEHOT_y',
 'compasscorestwoyearsONEHOT_y',
 'ficoONEHOT',
 'adultONEHOT_y',
 'churnONEHOT_y',
 'compasscorestwoyears_y',
 'iris_y',
 'wdbc_y']

In [9]:
DS3 = [x for x in df.dataset.unique() if x not in DS1+DS2[:-2]]

DS3

['diabetes_y',
 'home',
 'adult_y',
 'vehicle_y',
 'wine',
 'ionosphere_y',
 'wdbc_y',
 'fico',
 'churn_y',
 'titanic_y',
 'iris_y',
 'german_credit_y',
 'bank']

In [10]:
DS4 = [x for x in df.dataset.unique() if x not in DS1+DS2[:-3]]

DS4

['diabetes_y',
 'compasscorestwoyears_y',
 'home',
 'adult_y',
 'vehicle_y',
 'wine',
 'ionosphere_y',
 'wdbc_y',
 'fico',
 'churn_y',
 'titanic_y',
 'iris_y',
 'german_credit_y',
 'bank']

In [11]:
DS_name = "DS4"

In [12]:
if DS_name == "DS1":
    DS = DS1
    max_nbr_values_list = [100, 1000, np.inf]
    max_nbr_values_cat_list = [20]
if DS_name == "DS2":
    DS = DS2
    max_nbr_values_list = [100, 1000, np.inf]
    max_nbr_values_cat_list = [20, 100]
if DS_name == "DS3":
    DS = DS3
    max_nbr_values_list = [20]
    max_nbr_values_cat_list = [20]
if DS_name == "DS4":
    DS = DS4
    max_nbr_values_list = [20, 100, 1000, np.inf]
    max_nbr_values_cat_list = [20, 100]

In [13]:
df[df.alg == "CLTree"].dataset.unique()

array(['diabetes_y', 'aggregation_y', 'sset1_y', 'zelnik5_y',
       'triangle1_y', 'curet24k_y', 'triangle2_y', 'ionosphere_y',
       'titanic_y', '2d20cno0_y', 'curet02000n2D_y', '2d4c_y', 'sset2_y',
       '2dd31_y', 'vehicle_y', 'home', 'compasscorestwoyears_y',
       '2d4cno9_y', 'zelnik6_y', 'german_credit_y', 'longsquare_y',
       'tetra_y', 'curet12000n2D_y', '2d3cno123_y', '2d10c_y'],
      dtype=object)

In [14]:
df = df[df.dataset.isin(DS)].copy(deep=True)

df

/home/cri98li/anaconda3/lib/python3.9/site-packages/IPython/lib/pretty.py:778: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  output = repr(obj)
/home/cri98li/anaconda3/lib/python3.9/site-packages/IPython/core/formatters.py:342: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  return method()

,n_clusters,labels_as_tree_leaves,init,n_init,max_iter,tol,verbose,random_state,copy,algorithm,...,min_samples,max_eps,metric,n_jobs,eps,threshold,branching_factor,amount_initial_centers,kmax,linkage
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,2.0,NaN,k-means++,11.0,500.0,0.0001,False,42.0,True,lloyd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2.0,NaN,k-means++,11.0,500.0,0.0001,False,42.0,True,lloyd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2.0,NaN,k-means++,11.0,500.0,0.0001,False,42.0,True,lloyd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2.0,NaN,k-means++,11.0,500.0,0.0001,False,42.0,True,lloyd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2.0,NaN,k-means++,11.0,500.0,0.0001,False,42.0,True,lloyd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.alg.unique()

array(['CLTree', 'skl_bis_kmeans', 'kmeans+dt', 'skl_birch', 'skl_OPTICS',
       'pyc_xmeans', 'skl_kmeans', 'skl_agglomerativeClust',
       'PrincipalParTree', 'kmodes', 'skl_DBSCAN', 'CenterParTree2',
       'VarianceParTree', 'ImpurityParTree2'], dtype=object)

In [16]:
df = df[(df.alg == "CLTree")|(df.max_nbr_values.isin(max_nbr_values_list) & df.max_nbr_values_cat.isin(max_nbr_values_cat_list))].copy(deep=True)

df

/home/cri98li/anaconda3/lib/python3.9/site-packages/IPython/lib/pretty.py:778: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  output = repr(obj)
/home/cri98li/anaconda3/lib/python3.9/site-packages/IPython/core/formatters.py:342: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  return method()

,n_clusters,labels_as_tree_leaves,init,n_init,max_iter,tol,verbose,random_state,copy,algorithm,...,min_samples,max_eps,metric,n_jobs,eps,threshold,branching_factor,amount_initial_centers,kmax,linkage
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,2.0,NaN,k-means++,11.0,500.0,0.0001,False,42.0,True,lloyd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2.0,NaN,k-means++,11.0,500.0,0.0001,False,42.0,True,lloyd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2.0,NaN,k-means++,11.0,500.0,0.0001,False,42.0,True,lloyd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2.0,NaN,k-means++,11.0,500.0,0.0001,False,42.0,True,lloyd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2.0,NaN,k-means++,11.0,500.0,0.0001,False,42.0,True,lloyd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df.alg.unique()

array(['CLTree', 'skl_bis_kmeans', 'kmeans+dt', 'skl_birch', 'skl_OPTICS',
       'pyc_xmeans', 'skl_kmeans', 'skl_agglomerativeClust',
       'PrincipalParTree', 'kmodes', 'skl_DBSCAN', 'CenterParTree2',
       'VarianceParTree', 'ImpurityParTree2'], dtype=object)

In [18]:
#order = "silhouette"
order = "norm_mutual_info_score"

metriche = dict([#Ascending?
    ('silhouette', False), #max
    ('time', True), #min
    ('calinski_harabasz', False),
    ('davies_bouldin', True),
    ('r_score', False),
    ('adj_rand', False),
    ('mut_info_score', False),
    ('adj_mutual_info_score', False),
    ('norm_mutual_info_score', False),
    ('homog_score', True),
    ('complete_score', False),
    ('v_msr_score', False),
    ('fwlks_mallows_score', False)
])

In [19]:
df_subset = df.sort_values(['dataset', 'alg', order, 'time'], ascending=[False, False, metriche[order], True]).groupby(['dataset', 'alg']).nth(0).reset_index()

df_subset[res_values_sup+["time"]]

,r_score,adj_rand,mut_info_score,adj_mutual_info_score,norm_mutual_info_score,homog_score,complete_score,v_msr_score,fwlks_mallows_score,time
0,0.5884,0.1755,0.1054,0.1698,0.1698,0.1910,0.1528,0.1698,0.6425,16.350173
1,0.5157,0.0973,0.0845,0.0996,0.0996,0.1530,0.0739,0.0996,0.5350,3.665071
2,0.5317,0.1526,0.1249,0.1363,0.1363,0.2262,0.0976,0.1363,0.5351,2.836186
3,0.4640,0.0086,0.0205,0.0201,0.0202,0.0371,0.0139,0.0202,0.4752,10.019329
4,0.4101,-0.0068,0.0396,0.0330,0.0331,0.0717,0.0215,0.0331,0.3322,1.252247
...,...,...,...,...,...,...,...,...,...,...
175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.470954
176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.362701
177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.806290
178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.959601
179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.826939

In [20]:
df_subset.to_csv(f"{DS_name} order by {order}.csv")

In [21]:
#df_subset["rank_per_dataset"] = df_subset.groupby("dataset")[order].rank(ascending=metriche[order]).astype(int)

#df_subset.sort_values(["dataset", "rank_per_dataset"])[["rank_per_dataset", order, "alg", "dataset"]]

In [22]:
df_agg = df_subset.groupby("alg")[res_values_all].agg(["mean", "std", "min", "max"])

df_agg.head()

                        time                                     silhouette  \
                        mean          std       min          max       mean
alg
CLTree            433.991755  1060.501425  6.983112  2837.967403  -0.106171
CenterParTree2    102.227652   359.703724  0.180959  1299.309701   0.062777
ImpurityParTree2    3.644233     8.621524  0.131042    33.197174   0.018836
PrincipalParTree    1.146936     1.423008  0.082807     5.440709   0.136300
VarianceParTree     4.823845     6.331260  0.116270    23.678183   0.198779

                                           calinski_harabasz                \
                       std     min     max              mean           std
alg
CLTree            0.103856 -0.2993  0.0041          1.700529      0.911860
CenterParTree2    0.206077 -0.1947  0.6575        966.359169   2177.655766
ImpurityParTree2  0.244887 -0.4183  0.6613        773.091271   2076.845181
PrincipalParTree  0.194176 -0.1155  0.6613       1450.740164   3181.413687
VarianceParTree   0.312308 -0.1475  0.9253       4966.278293  14333.485265

                  ... complete_score         v_msr_score                    \
                  ...            min     max        mean       std     min
alg               ...
CLTree            ...         0.0337  0.3518    0.123257  0.081298  0.0544
CenterParTree2    ...         0.0097  0.4581    0.218536  0.179147  0.0114
ImpurityParTree2  ...         0.0093  0.4615    0.200136  0.194542  0.0121
PrincipalParTree  ...         0.0190  0.8299    0.315182  0.292878  0.0293
VarianceParTree   ...         0.0057  0.5257    0.205664  0.193922  0.0074

                         fwlks_mallows_score
                     max                mean       std     min     max
alg
CLTree            0.2574            0.523643  0.179988  0.2506  0.7700
CenterParTree2    0.5480            0.527727  0.176173  0.2613  0.7841
ImpurityParTree2  0.5177            0.569855  0.149510  0.3218  0.7852
PrincipalParTree  0.8324            0.592736  0.236147  0.3279  0.9412
VarianceParTree   0.5829            0.564455  0.167173  0.3244  0.8102

[5 rows x 52 columns]

In [23]:
def getWin(metrica):
    ascending = metriche[metrica]
    df_tmp = df_subset[["alg", "dataset", metrica]].copy()
    df_tmp["rank"] = df_subset.groupby("dataset")[metrica].rank(ascending=ascending, method="min", na_option="top" if ascending else "bottom").astype(int)
    return df_tmp.groupby("alg")[["rank"]].agg(c=("rank", len), win=("rank", lambda x: len(x[x == 1])), rank_mean=("rank", np.mean))

In [24]:
df_agg = df_agg[df_agg.index != "pyc_agglomerativeClust"].copy(deep=True)

for metrica in res_values_all:
    df_tmp = getWin(metrica)
    df_agg[(metrica, "win")] = df_tmp.win
    df_agg[(metrica, "count")] = df_tmp.c
    df_agg[(metrica, "rank_mean")] = df_tmp.rank_mean

df_agg[df_agg.columns.sort_values()]

                       adj_mutual_info_score                            \
                                       count     max      mean     min
alg
CLTree                                     7  0.2407  0.116571  0.0455
CenterParTree2                            13  0.5480  0.214836  0.0111
ImpurityParTree2                          14  0.4994  0.195645  0.0071
PrincipalParTree                          14  0.8324  0.312027  0.0251
VarianceParTree                           14  0.5700  0.201509  0.0045
kmeans+dt                                 14  0.7316  0.201764  0.0015
kmodes                                    13  0.3530  0.154082  0.0016
pyc_xmeans                                13  0.7316  0.235718  0.0023
skl_DBSCAN                                13  0.7156  0.215191  0.0044
skl_OPTICS                                13  0.7316  0.157818  0.0097
skl_agglomerativeClust                    13  0.7316  0.260455  0.0199
skl_birch                                 13  0.6900  0.223745  0.0026
skl_bis_kmeans                            13  0.7316  0.220609  0.0020
skl_kmeans                                13  0.7316  0.215336  0.0018

                                               adj_rand                    \
                       rank_mean       std win    count     max      mean
alg
CLTree                  9.857143  0.078296   1        7  0.1976  0.089400
CenterParTree2          6.230769  0.178086   4       13  0.6055  0.183300
ImpurityParTree2        7.285714  0.193045   3       14  0.5335  0.174791
PrincipalParTree        2.928571  0.293321   7       14  0.8817  0.331418
VarianceParTree         6.285714  0.192664   4       14  0.5927  0.199582
kmeans+dt               6.857143  0.228700   3       14  0.6361  0.173545
kmodes                  8.538462  0.121003   2       13  0.4379  0.122764
pyc_xmeans              4.076923  0.229605   2       13  0.6765  0.209773
skl_DBSCAN              6.307692  0.248241   2       13  0.6548  0.188436
skl_OPTICS              7.307692  0.206443   2       13  0.5681  0.074409
skl_agglomerativeClust  3.153846  0.251143   5       13  0.7796  0.233255
skl_birch               6.153846  0.227686   2       13  0.6718  0.204336
skl_bis_kmeans          6.538462  0.234375   2       13  0.6707  0.203991
skl_kmeans              6.692308  0.234055   2       13  0.6707  0.189745

                        ...       time                  v_msr_score          \
                        ...  rank_mean          std win       count     max
alg                     ...
CLTree                  ...  14.000000  1060.501425   0           7  0.2574
CenterParTree2          ...  10.076923   359.703724   0          13  0.5480
ImpurityParTree2        ...   8.428571     8.621524   0          14  0.5177
PrincipalParTree        ...   6.857143     1.423008   0          14  0.8324
VarianceParTree         ...   9.428571     6.331260   0          14  0.5829
kmeans+dt               ...   5.071429     0.369666   1          14  0.7337
kmodes                  ...   9.384615     3.768713   0          13  0.3551
pyc_xmeans              ...   2.307692     0.236001   2          13  0.7337
skl_DBSCAN              ...   1.846154     0.765910   7          13  0.7201
skl_OPTICS              ...  12.615385    78.062140   0          13  0.7337
skl_agglomerativeClust  ...   3.461538    12.951082   4          13  0.7337
skl_birch               ...   5.692308     4.124466   0          13  0.6925
skl_bis_kmeans          ...   8.692308     3.384543   0          13  0.7337
skl_kmeans              ...   5.615385     0.379998   0          13  0.7337


                            mean     min  rank_mean       std win
alg
CLTree                  0.123257  0.0544  10.428571  0.081298   1
CenterParTree2          0.218536  0.0114   6.692308  0.179147   4
ImpurityParTree2        0.200136  0.0121   7.500000  0.194542   3
PrincipalParTree        0.315182  0.0293   3.428571  0.292878   6
VarianceParTree         0.205664  0.0074   6.571429  0.193922   4
kmeans+dt               0.205091  0.0022   7.428571  0.228421   3
kmodes                  0.159991  0.0026   8.769231  0.125814   2
pyc_xmeans              0.239827  0.0035   4.307692  0.229682   2
skl_DBSCAN              0.239764  0.0121   4.692308  0.239028   2
skl_OPTICS              0.206764  0.0537   4.307692  0.190235   3
skl_agglomerativeClust  0.263773  0.0246   3.538462  0.249904   5
skl_birch               0.226836  0.0037   6.692308  0.227535   2
skl_bis_kmeans          0.223209  0.0027   7.000000  0.234238   2
skl_kmeans              0.218118  0.0030   6.923077  0.233906   2

[14 rows x 91 columns]

In [25]:
lista = [ 
    'CenterParTree2', 
    'ImpurityParTree2', 
    'PrincipalParTree',
    'VarianceParTree', 
    'CLTree',
    'kmeans+dt2', 
    
    'skl_kmeans',
    'skl_bis_kmeans',
    'pyc_xmeans',
    'kmodes', 
    'skl_birch', 
    'skl_agglomerativeClust', 
    'skl_DBSCAN',
    'skl_OPTICS', 
    'skl_agglomerativeClust',     
]
df_agg["indice"] = list(map(lambda x: lista.index(x), df_agg.index.tolist()))
df_agg[df_agg.columns.sort_values()].sort_values(by="indice").drop(columns="indice")\
        .to_excel(f"{DS_name} order by {order}.xlsx")

/tmp/ipykernel_16306/2580999446.py:20: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  df_agg[df_agg.columns.sort_values()].sort_values(by="indice").drop(columns="indice")\

In [26]:
df.alg.unique()

array(['CLTree', 'skl_bis_kmeans', 'kmeans+dt', 'skl_birch', 'skl_OPTICS',
       'pyc_xmeans', 'skl_kmeans', 'skl_agglomerativeClust',
       'PrincipalParTree', 'kmodes', 'skl_DBSCAN', 'CenterParTree2',
       'VarianceParTree', 'ImpurityParTree2'], dtype=object)